@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color-scheme: light dark; */

  --color-bg: linear-gradient(60deg, #f5f5dc 45%, #cccccc 55%);
  --color-text: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: linear-gradient(60deg, #1a1a1a 45%, #2b2b2b 55%);
    --color-text: #fff;
  }
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Nunito', sans-serif;

  background: var(--color-bg);
  color: var(--color-text);

  transition: background 1.5s ease-in-out, color 1.5s ease-in-out;
}

header {
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
