@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color-scheme: light dark; */

  --color-bg: #f5f5dc;
  --color-text: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #2b2b2b;
    --color-text: #f5f5dc;
  }
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Nunito', sans-serif;

  background: #2b2b2b;
  color: var(--color-text);

  transition: background 1.5s ease-in-out, color 1.5s ease-in-out;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
